/*jade byrne student no:14404242 */
 {
 background-color:blue;
 font-family:italic;
 color:white;

 h1 {
    font-size: 250%;
}

h2 {
    font-size: 200%;
}

p {
    font-size: 100%;
}
}